body {
    background-color: black;
}

.jskmb-calculator {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: aqua;
    padding: 40px;
    border: 1px rgb(0, 0, 0) solid;
}

.jskmb-calculator .operations-block button {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: rgb(103, 108, 112);
    font-weight: 100;
    color: aliceblue;
}


.jskmb-calculator .inputs-block .input-block  {
    display: inline-block;
    padding: 10px;
}

.jskmb-calculator .inputs-block .input-block label {
    display: block;
}
            